header {
  background-color: ;
  height: 50px;
  width: auto;
  margin: 0;
  padding-top: 10px;
  
}

header h1 {
  color: gold;
  font-size: 25px;
  margin: 0;
  padding-left: 10px;
  float: left;
}

header ul {
  color: white;
  float: right;
  margin: 0;
  padding-left: 0px;
}

li {
  list-style: none;
  float: left;
  padding: 10px 20px 0px 30px;

}



body {
  margin: 0;
  background-color: red;
}

h1 {
  color: pink;
}
